body {
    margin: 0px;
    padding: 0px;
    font-family: 'Lato', sans-serif;
    font-variant:normal;
}

main {
    padding: 16px;
}

footer {
    padding: 24px;
    margin: 12px 0px;
    background-color: #B4CF66;
}

img {
    height: 200px;
}

nav {
    border-bottom: 1px solid black;
    padding: 16px;
    background-color: #FF5A33;
}

a {
    font-size: 18px;
    font-weight: bold;
    text-decoration: none;
}

nav a {
    color: white;
}

a:hover {
    filter: invert(0.5);
}

h1 {
    color: #146152
}

h3 a{
    color: #44803F
}

.recipe-cards {
    display: grid;
    grid-template-columns: repeat(4, minmax(auto, 250px));
    grid-template-rows: auto;
    box-sizing: border-box;
}

.recipe-cards > div {
    /* width: min(auto, 250px); */
    /* width: 250px; */
    margin: 6px;
}

.recipe-cards > div:hover {
    box-shadow: 4px 4px 2px gray;
}

tbody > tr:nth-child(even) {
    background-color: lightgray;
}
